.post-area {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.8rem;
    margin: 0.5rem;
}

.post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

.post-footer {
    font-size: 1.2rem;
    display: flex;
    margin-top: 0.5rem;
}

.post-footer img {
    max-width: 1.5rem;
}

.post-header img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    border-radius: 50px;
    border: 1px solid black;
}

.post-header>p {
    display: flex;
}